html{
    scroll-behavior: smooth;
}
body {
    margin: auto;
    margin: auto;
    background-color: rgb(221, 221, 242);
    max-width: 100%;
}
.content {
    margin-left: 15px;
}
.right {
    margin-left: 300px;
    margin-right: 60px;
    @include respond-to("desktop"){
        margin-left: 260px;
        margin-right: 10px;
        text-align: center;
    }
    @include respond-to("tablette"){
        margin-left: 260px;
        margin-right: 10px;
        text-align: center;
    }
    @include respond-to("mobile"){
        margin-top: 120px;
        margin-left: 10px;
        width: 90%;
    }
   
   
}
.contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    @include respond-to("mobile") {
        display: flex;
        flex-direction: column;
    }
    @include respond-to("tablette") {
        display: flex;
        flex-direction: column;
    }
    @include respond-to("desktop") {
        display: flex;
        flex-direction: column;
    }
    .image {
        img {
            width: 500px;
            border-radius: 20px;
            @include respond-to("desktop") {
                width: 400px;
                border-radius: 5px;
            }
            @include respond-to("tablette") {
                width: 300px;
                border-radius: 5px;
            }
            @include respond-to("mobile") {
                width: 200px;
                border-radius: 5px;
            }
        }
    }
}
.progress-bar {
    background: #ddd;
    width: 100%;
    margin: 10px 0;
  
    div {
      background: $secondary-color;
      height: 20px;
      text-align: center;
      color: black;
    }
  }
  .social-links {
    list-style: none;
    gap: 20px;
  }
  footer {
    clear: both;
  }

  .about, .experience, .hobbies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .photo {
        padding-top: 80px;
        margin-left: 5px;
        width: 45%;
        @include respond-to("desktop") {
            width: 1%;
            margin: 0;
            padding: 0;
        }
        @include respond-to("tablette") {
            width: 100%;
            margin: 0;
            padding: 0;
        }
        @include respond-to("mobile") {
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        img {
            width: 45%;
            width: 300px;
            height: 200px;
            border-radius: 20px;
            @include respond-to("desktop") {
                display: none;
            }
            @include respond-to("mobile") {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
    }
    .ecris {
        width: 50%;
        @include respond-to("desktop") {
            width: 100%;
        }
        @include respond-to("tablette") {
            width: 100%;
        }
        @include respond-to("mobile") {
            width: 100%;
        }
    }
  }
  .ligne {
    border: 2px solid $quaternary-color;
    height: 150px;
    margin-top: 10px;
    @include respond-to("desktop") {
        display: none;
    }
    @include respond-to("tablette") {
        display: none;
    }
    @include respond-to("mobile") {
        display: none;
    }

  }