nav {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    width: 233px;
    background-color: $primary-color;
    height: 300vh;
    .line {
        border: 2px solid $quaternary-color;
        margin: 15px 40px;
    }
    img {
        width: 200px;
        padding: 20px;
        border-radius: 50%;
        margin: auto;
        @include respond-to("mobile") {
            width: 167px;
            margin: auto;
        }
    }
    @include respond-to("mobile") {
        width: 200px;
    }
}